body,
html {
  margin: 0;
  background-color: #000;
  height: 100vh;
  display: flex;
  
}
.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  
}

.calendar {
  background-image: url(../src/assets/kalenteri.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  width: min(100vw, calc((100vh - (5 * 1rem)) * 4 / 6));
}

.calendar-item {
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.calendar-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.door {
  box-sizing: border-box;
  border: 1px dashed rgb(146, 146, 146);
  color: white;
  width: 100%; /* fill the entire grid cell */
  height: 100%; /* fill the entire grid cell */
  padding: 0.5rem;
}
.gray-background {
  background-color: rgb(41, 41, 41);
  box-shadow: inset 3px 3px 10px 3px rgba(0, 0, 0, 0.7);
}
.tree-container {
  
  
  height: 100vh;
  
}

